<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="baidu-site-verification" content="2ODilyTFvE" />
    <link rel="shortcut icon" href="/static/global/images/logo.jpg" type="image/vnd.microsoft.icon" />
    <title>Teamcat</title>
    <!--<link href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">-->
    <!--<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css"  crossorigin="anonymous">-->
  </head>
  <body>
    <div>
      <div id="teamcat">

      </div>
    </div>

    <!-- built files will be auto injected -->
  </body>
</html>
